<%= form_for @employee do |f| %>

	<%= render 'shared/error_message', object: f.object %>
	<fieldset>
		<legend>Basic Infomation</legend>
		<div class="form-group">
			<%= f.label :batch_number  %><br>
			<%= f.text_field :batch_number, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :first_name %><br>
			<%= f.text_field :first_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :last_name %><br>
			<%= f.text_field :last_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email %><br>
			<%= f.text_field :email, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :mobile %><br>
			<%= f.text_field :mobile, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :join_date %><br>
			<%= f.date_field :join_date,  autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :address %><br>
			<%= f.text_field :address, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :role_id, "Role" %><br/>
			<%= f.collection_select(:role_id, current_organization.roles.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
		</div>
	</fieldset>

	

	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>