<%= form_for @employee do |f| %>
	
	<%= render "shared/flash_message" %>
	<%= render 'shared/error_message', object: f.object %>

	<%= f.fields_for :user do |u| %>
		<legend>Login Infomation</legend>

		<%= u.hidden_field :role, value: "employee" %>
		<%= u.hidden_field :organization_id, value: current_organization.id %>
		
	  	<div class="form-group">
			<%= u.label :username %><br>
			<%= u.text_field :username, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= u.label :password %><br>
			<%= u.password_field :password, autofocus: true, class: "form-control" %>
		</div>
	<% end %>
	
	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>