<% @connections.each do |connection| %>
	<tr>
		<td><%= connection.first_name %> <%= connection.last_name %></td>
		<td><%= connection.mobile %></td>
		<td><%= connection.email %></td>
		<td><%= connection.package.name %></td>
		<td><%= connection.house %>, <%= connection.block %></td>
		<td><%= connection.zone.name %></td>
		<td><%= connection.location_specification %></td>

		<td>
			<% if connection.status == 0 %>
				<span class="label label-danger">Pending</span>
			<% elsif connection.status == 1 %>
				<span class="label label-info">Varified</span>
			<% elsif connection.status == 2 %>
				<span class="label label-success">Connected</span>
			<% end %>
		</td>

		<td>
			<% if connection.status != 0 && connection.status !=1 %>
				<%= form_for [@organization, connection], remote: true do |f| %>
				  <%= f.hidden_field :status, value: 0 %>
				  	<%= button_tag(type: 'submit', class: "btn") do %>
						<font size="2px;"><i class="glyphicon glyphicon-remove"></i></font>
					<% end %>
				<% end -%>	
			<% end %>

			<% if connection.status != 2 %>
				<%= form_for [@organization, connection], remote: true do |f| %>
					<% if connection.status == 1 %>
						<%= f.hidden_field :status, value: 2 %>	
					<% elsif connection.status == 0 %>
						<%= f.hidden_field :status, value: 1 %>
					<% end %>
				  	
				  	<%= button_tag(type: 'submit', class: "btn") do %>
						<font size="2px;"><i class="glyphicon glyphicon-ok"></i></font>
					<% end %>
				<% end -%>		
			<% end %>	
		</td>
	</tr>
<% end %>