<%= form_for @connection, url: organization_connections_path(@organization) do |f| %>
	
	<%= render 'shared/error_message', object: f.object %>

	<%= f.hidden_field :organization_id, value: @organization.id %>
	<fieldset>
		<legend>Basic Infomation</legend>
		

		<div class="form-group">
			<%= f.label :first_name %><br>
			<%= f.text_field :first_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :last_name %><br>
			<%= f.text_field :last_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email %><br>
			<%= f.text_field :email, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :mobile %><br>
			<%= f.text_field :mobile, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :package_id, "Package" %><br/>
			<%= f.collection_select(:package_id, @organization.packages.where(active: true).order(:name), :id, :package_price, {include_blank: true}, {:class=>'form-control'}) %>
		</div>
	</fieldset>

	
	
	<fieldset>
		<legend>Location</legend>
		<div class="row">
			<div class="col-sm-6">
				<%= f.label :house, "House" %>
				<%= f.text_field :house, autofocus: true, class: "form-control", placeholder: "15C/23C" %>
			</div>

			<div class="col-sm-6">
				<%= f.label :block, "Block" %>
				<%= f.text_field :block, autofocus: true, class: "form-control", placeholder: "A" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :zone_id, "Area" %><br/>
			<%= f.collection_select(:zone_id, @organization.zones.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
		</div>

		<div class="form-group">
			<%= f.label :location_specification, "Location Specification" %>
			<%= f.text_field :location_specification, class: "form-control" %>
		</div>

	</fieldset>

	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>