<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>
	    <h1 class="page-title">New Connections</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Dashboard", dashboard_path) %></li>
	        <li class="active">Connections</li>
	    </ul>
	</div>  	
<!-- header -->
<div class="col-sm-12">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Mobile</th>
				<th>Email</th>
				<th>Package</th>
				<th>Address</th>
				<th>Zone</th>
				<th>Location Specification</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody id="connection_list">
			<%= render 'connection' %>
		</tbody>
	</table>
</div>