<div class="well">
	<div class="header">
	    <h1 class="page-title">New Connection Request</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Home", root_path) %></li>
	        <li class="active">new connection</li>
	    </ul>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= render 'form' %>
		</div>
	</div>
</div>