<div class="dialog">
	<% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert") %>
    <% end %>
	<div class="panel panel-default">
		<p class="panel-heading no-collapse">Sign In</p>
		<div class="panel-body">
			<%= form_for(:session, url: sessions_path) do |f| %>
			  <div class="form-group">
			  	<%= f.label :username %>
			  	<%= f.text_field :username, autofocus: true, class: "form-control" %>
			  </div>

			  <div class="form-group">
			  	<%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
			  </div>

			  <div><%= f.submit "Sign in", class: "btn btn-primary pull-right" %></div>

			  <div class="clearfix"></div>
			<% end %>
		</div>

	</div>
</div>