<% @employees.each do |employee| %>
	<tr>
		<td><%= employee.batch_number %></td>
		<td><%= employee.first_name %> <%= employee.last_name %></td>
		<td><%= employee.email %></td>
		<td><%= employee.mobile %></td>
		<td><%= employee.address %></td>
		<td><%= employee.role.name %></td>
		<td><%= employee.join_date %></td>
		<td><%= employee.total %></td>
		<td><%= employee.wallet.amount %></td>
		<td>
			<% if employee.status == 1 %>
				<span class="label label-success">active</span>
			<% else %>
				<span class="label label-danger">active</span>
			<% end %>
		</td>
		<td><%= link_to("Edit", edit_employee_path(employee), class: "btn") %></td>
	</tr>
<% end %>