<%= form_for @employee do |f| %>

	<%= render 'shared/error_message', object: f.object %>

	<%= f.hidden_field :organization_id, value: current_organization.id %>
	

	<fieldset>
		<legend>Basic Infomation</legend>
		<div class="form-group">
			<%= f.label :batch_number  %><br>
			<%= f.text_field :batch_number, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :first_name %><br>
			<%= f.text_field :first_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :last_name %><br>
			<%= f.text_field :last_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email %><br>
			<%= f.text_field :email, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :mobile %><br>
			<%= f.text_field :mobile, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :role_id, "Role" %><br/>
			<%= f.collection_select(:role_id, current_organization.roles.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
		</div>

	</fieldset>

	<%= f.fields_for :wallet do |w| %>
		<%= w.hidden_field :amount, value: 0 %>
	<% end %>

	<%= f.fields_for :user do |u| %>
		<fieldset>
			<legend>Login Infomation</legend>

			<%= u.hidden_field :role, value: "employee" %>
			<%= u.hidden_field :organization_id, value: current_organization.id %>
			
		  	<div class="form-group">
				<%= u.label :username %><br>
				<%= u.text_field :username, autofocus: true, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= u.label :password %><br>
				<%= u.password_field :password, autofocus: true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= u.label :password %><br>
				<%= u.password_field :password_confirmation, autofocus: true, class: "form-control" %>
			</div>
		</fieldset>
	<% end %>

	<fieldset>
		<legend>Location And Join Date</legend>
		<div class="form-group">
			<%= f.label :address %><br>
			<%= f.text_field :address, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :join_date %><br>
			<%= f.date_field :join_date,  autofocus: true, class: "form-control" %>
		</div>
	</fieldset>

	<fieldset>
		<legend>Salary Infomation</legend>
		<div class="form-group">
			<%= f.label :basic_salary %><br>
			<%= f.text_field :basic_salary, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :additional_salary %><br>
			<%= f.text_field :additional_salary, autofocus: true, class: "form-control" %>
		</div>
	</fieldset>

	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>