<% if !current_user.is_employee %>
	<!-- header -->
	<div class="header">
	    <h1 class="page-title"><%= @employee.full_name %></h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Employees", employees_path) %></li>
	        <li class="active">Edit</li>
	    </ul>
	</div>  	
	<!-- header -->	
<% end %>


<div class="col-md-12">
	<div class="row">
	<%= render "shared/flash_message" %>
	<div class="flash"></div>
		<!-- right side -->
		<div class="col-md-3 col-xs-12 pull-right">
			<!-- profile picture	 -->
		    <%= image_tag("profile.jpg") %>
			<!-- profile picture	 -->

			<!-- Button trigger modal -->
			<% if current_user.id == @employee.user.id %>
				<button class="btn btn-link" data-toggle="modal" data-target="#myModal">
				  Change Picture
				</button>
			<% end %>

			<div class="pull-right">
				<% if @employee.status == 1 %>
					<span class="label label-success">active</span>	
				<% else %>
					<span class="label label-danger">deactive</span>	
				<% end %>
			</div>
			
		</div>
		<!-- right side -->

		<!-- left side -->
		<div class="col-md-9 pull-left">
			
			<ul class="nav nav-pills" role="tablist" id="myTab">
			  <li class="active"><a href="#employee_basic_info" role="tab" data-toggle="tab">Basic Info</a></li>
			  
			  <li><a href="#employee_login_info" role="tab" data-toggle="tab">Login Info</a></li>
			</ul>

			<div class="tab-content">


				<div class="tab-pane active" id="employee_basic_info">
					<%= render "employees/edit/basic" %>
				</div>
				<div class="tab-pane" id="employee_login_info">
					<%= render "employees/edit/login_info" %>
				</div>

			</div>

		</div>
		<!-- left side -->

	</div>
</div>




<% if current_user.id == @employee.user.id %>
	<!-- Modal -->
	<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <%= form_for current_user, url: employee_upload_user_path(current_user) do |f| %>
			  
				<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			  <div class="form-group">
			  	<%= f.label :image %><br />
			  	<%= f.file_field :image %>
			  	  
			  </div>

			  <%= f.submit "Save", disable_with: 'Saveing...', class: "btn btn-primary" %>
			<% end -%>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>
