<div class="header">
    <%= render 'shared/notification' %>

    <h1 class="page-title">Employees</h1>
    <ul class="breadcrumb">
        <li><%= link_to("Home", dashboard_path) %></li>
        <li class="active">Employees</li>
    </ul>
</div>


<div class="col-sm-12">
	<div class="col-sm-3">
		<div class="pull-left">
			<% if current_user.is_admin || current_employee.role.employee %>
				<%= link_to new_employee_path, class: "btn btn-info" do %>
					<i class="glyphicon glyphicon-plus"></i> New Employee
				<% end %>	
			<% end %>
			
		</div>	
	</div>
	<div class="col-sm-5">
		<%= form_tag employees_path, :method => 'get', remote: true, :id => "employees_search" do %>
			<div class="input-group">
					<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>	
				<div class="input-group-btn">
					<%= button_tag(class: "btn btn-default") do %>
						<i class="glyphicon glyphicon-search"></i>
					<% end %>
				</div>
			</div>
		<% end %>
		<br>
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Employee ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Address</th>
				<th>Role</th>
				<th>Join Date</th>
				<th>Salary</th>
				<th>Wallet</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="employees">
			<%= render "employee" %>
		</tbody>
	</table>
</div>

