<% if !current_user.is_employee %>
	<!-- header -->
	<div class="header">
	    <div class="stats">
	    	<span class="label label-success">Wallet: <%= @employee.wallet.amount %></span>
	    </div>

	    <h1 class="page-title"><%= @employee.full_name %></h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("employees", employees_path) %></li>
	        <li class="active">Profile</li>
	    </ul>
	</div>  	
	<!-- header -->
<% end %>

<div class="col-md-12">
	<div class="row">

		<!-- right side -->
		<div class="col-md-3 col-xs-12 pull-right">
			<!-- profile picture	 -->
		    <%= image_tag("profile.jpg") %>
			<!-- profile picture	 -->

			<div class="pull-right">
				<% if @employee.status == 1 %>
					<span class="label label-success">active</span>	
				<% else %>
					<span class="label label-danger">deactive</span>	
				<% end %>
				
			</div>

			<h3>General Information</h3>
			<table class="table">
				<tr>
					<td>employee ID</td>
					<td><%= @employee.batch_number %></td>
				</tr>
				<tr>
					<td>Salary</td>
					<td><%= @employee.salary %></td>
				</tr>
				<tr>
					<td>Join Date</td>
					<td><%= @employee.join_date.strftime("%d-%m-%Y") %></td>
				</tr>
			</table>

			<h3>Contact Information</h3>
			<table class="table">
				<tr>
					<td><i class="fa fa-phone"></i> Mobile</td>
					<td><%= @employee.mobile %></td>
				</tr>
				<tr>
					<td><i class="fa fa-envelope"></i> Email</td>
					<td><%= @employee.email %></td>
				</tr>
				<tr>
					<td><i class="fa fa-map-marker">Address</td>
					<td>
						<%= @employee.address %>
					</td>
				</tr>
			</table>

		</div>
		<!-- right side -->

		<!-- left side -->
		<div class="col-md-9 pull-left">
		<h2>Salary Information</h2>
		  	<table class="table table-striped table-bordered">
		  		<thead>
		  			<tr>
		  				<th>Date</th>
		  				<th>Debit</th>
		  				<th>Credit</th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  			<% @salaries = @employee.salaries.order(updated_at: :desc) %>
		  			<% @salaries.each do |salary| %>
		  				<tr>
		  					<td><%= salary.updated_at.strftime("%d-%m-%Y") %></td>
		  					<td><%= salary.debit %></td>
		  					<td><%= salary.credit %></td>
		  				</tr>
		  			<% end %>
		  		</tbody>
		  	</table>
		</div>
		<!-- left side -->
			  
	</div>
</div>
