$("#employee_basic_info").html("<%= escape_javascript(render 'employees/edit/basic') %>")
$("#employee_login_info").html("<%= escape_javascript(render 'employees/edit/login_info') %>")
$(".flash").html("<%= escape_javascript(render "shared/flash_message") %>")