<% @customers.each do |customer| %>
	
	<% if !customer.is_monthly_bill_exist(@my) %>
		<tr>
			<td>
				<%= check_box_tag "customer_ids[]", customer.id %>
			</td>
			<td><%= customer.first_name %> <%= customer.last_name %></td>
			<td><%= customer.mobile %></td>
			<td><%= customer.email %></td>
			<td><%= customer.package.f_price %></td>
		</tr>	
	<% end %>
<% end %>

