<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>

	    <h1 class="page-title">Invoice</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Customers", customers_path) %></li>
	        <li class="active">Invoice</li>
	    </ul>
	</div>  	
<!-- header -->


<div class="col-sm-8">
	<section class="panel panel-default">
		<%= form_tag Bill.new do |f| %>
			<header class="panel-heading">
				<div class="panel-title">
					Customer List
					<div class="row" style="float: right; margin-top: -8px;">
						<div id="render_generator">
							<%= render "invoice_generator" %>		
						</div>
					</div>
				</div>
				
			</header>
			<div class="panel-body">
				
				<div class="row">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="select-all-checkbox"><input type="checkbox" id="checkAll" /></th>
								<th>Name</th>
								<th>Mobile</th>
								<th>Email</th>
								<th>Monthly Fee</th>
							</tr>
						</thead>
						<tbody id="invoices">
							<%= render 'invoice' %>
						</tbody>
					</table>
				</div>
			</div>
		<% end %>
	</section>

</div>



<div class="col-sm-4">
	<section class="panel panel-default">
		<header class="panel-heading">
			<h3 class="panel-title">Generate Invoice</h3>
		</header>
		<div class="panel-body">
			<%= form_tag invoices_path, remote: true, :method => 'get', :id => "month_year" do %>
				<%= date_select :month_year, [], order: [:month, :year] %>	
				<%= button_tag "Search", {class: "monthly_customer"} %>
			<% end %>
		</div>
	</section>
</div>