<% @icares.each do |icare| %>
	<tr>
		<td><%= link_to icare.customer.full_name, customer_path(icare.customer) %></td>
		<td><%= icare.created_at.strftime("%d-%m-%Y") %></td>
		<td><%= icare.icare_type.name %></td>
		<td><%= icare.problem %></td>
		<td>
			<% if icare.status == 0 %>
				<span class="label label-success">Completed</span>
			<% elsif icare.status == 1 %>
				<span class="label label-primary">Panding</span>
			<% elsif icare.status == 2 %>
				<span class="label label-default">On process</span>
			<% elsif icare.status == 4 %>
				<%= form_for icare, remote: true do |f| -%>
				  <%= f.hidden_field :status, value: 2  %>
				  
				  <%= @quotient = ((icare.extension_minute.to_i+icare.minute.to_i)/60) %>
				  <%= @modulus = ((icare.extension_minute.to_i+icare.minute.to_i)%60) %>
				  
				  <%= f.hidden_field :hour, value: (icare.hour.to_i+icare.extension_hour.to_i+@quotient.to_i) %>

				  <%= f.hidden_field :minute, value: @modulus.to_i %>

				  <%= button_tag(class: "btn") do %>
				  	<i class="glyphicon glyphicon-ok"></i>
				  <% end %>
				<% end %>

				<%= form_for icare, remote: true do |f| -%>
				  	<%= f.hidden_field :status, value: 2  %>
				  	<%= f.hidden_field :extension_hour, value: 0 %>
				  	<%= f.hidden_field :extension_minute, value: 0 %>
				  	<%= button_tag(class: "btn") do %>
				  		<i class="glyphicon glyphicon-remove"></i>
				  	<% end %>
				<% end %>
			<% end %>
		</td>
		<td>
			<% if current_user.is_customer && icare.status == 1 %>
				<%= form_for icare, remote: true, method: "Delete" do |f| -%>
				  <%= button_tag(type: "submit", class: "btn") do %>
				  	<i class="glyphicon glyphicon-trash"></i>
				  <% end %>
				<% end %>
			<% end %>
		</td>

		<td>
			
			<!-- Button trigger modal -->
			<button class="btn" data-toggle="modal" data-target="#assign_icare-<%= icare.id %>">
			  <i class="glyphicon glyphicon-share"></i>
			</button>

			<!-- Modal -->
			<div class="modal fade bs-example-modal-sm" id="assign_icare-<%= icare.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">Assign Task</h4>
			      </div>
			      	<%= form_for icare, url: assign_task_icare_path(icare), remote: true do |f| -%>
				      <div class="modal-body">
				        <div class="row">
				        	<%= render partial: 'assign_task', locals: {f: f, icare: icare} %>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <%= f.submit "Assign", :disable_with => 'Assigning...', class: "btn btn-primary" %>
				      </div>
				    <% end %>
			    </div>
			  </div>
			</div>

		</td>
	</tr>
<% end %>

