<div class="form-group">
	<div class="row">
		<div class="col-sm-6" style="padding-left: 0; padding-right: 0;">
		<div class="col-xs-4"><%= f.label :hour, "Hour" %></div>
	  	<div class="col-xs-8"><%= f.text_field :hour, class: "form-control" %></div>
	</div>
	<div class="col-sm-6" style="padding-left: 0; padding-right: 0;">
		<div class="col-xs-5"><%= f.label :minute, "Minute" %></div>
		<div class="col-xs-7">
			<%= f.select :minute, ((0..59).step(5).to_a.map {|i| [i,i] }), {}, {class: "form-control"}  %>
			<%= f.hidden_field :status, value: 2 %>
		</div>
	</div>
	</div>
</div>  

<div class="form-group">
	<% current_organization.employees.each do |employee| %>
  		<% if employee.role.operator %>
  			<ol>
  			<%= check_box_tag "employee_ids[]", employee.id %> <%= employee.full_name %>
  			</ol>
  		<% end %>
  	<% end %>
</div>
  
