<%= form_for @icare, remote: true do |f| %>

  <div class="modal-body">
     <ul class="errors"></ul>
      <%= f.hidden_field :organization_id, value: current_organization.id %>
      <% if current_user.is_customer %>
        <%= f.hidden_field :customer_id, value: @customer.id %>  
      <% else %>
        <%= f.hidden_field :customer_id, value: customer.id %>
      <% end %>
      
      <%= f.hidden_field :status, value: 1 %>
      <div class="form-group">
        <%= f.label :icare_type_id, "ICare Type" %><br>
        <%= f.collection_select(:icare_type_id, current_organization.icare_types.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
      </div>

      <div class="form-group">
        <%= f.label :problem, "Problem Description" %>
        <%= f.text_area :problem, class: "form-control", rows: 10 %>
      </div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", disable_with: 'Submiting...', class: "btn btn-primary" %> 
      </div>    
  </div>

<% end %>


      