<%= form_for @icare do |f| %>
  
  <ul class="errors"></ul>
  <div class="form-group">
  	<%= f.label :customer_id, "Customer Id" %><br>
  	<%= f.text_field :customer_id, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= f.label :responsible_id %><br />
  	<%= f.collection_select(:responsible_id, current_organization.employees.where(status: 1).order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
  </div>
    <%= f.hidden_field :status, value: 2 %> 

  <div class="form-group">
  	<%= f.label :icare_type_id, "ICare Type" %><br>
  	<%= f.collection_select(:icare_type_id, current_organization.icare_types.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
  </div>

  <div class="form-group">
  	<%= f.label :problem, "Problem Description" %>
  	<%= f.text_area :problem, class: "form-control", rows: 10 %>
  </div>

  <%= f.submit "Submit", disable_with: 'Submiting...', class: "btn btn-primary" %>

<% end %>