<% @icares.each do |icare| %>
	<tr>
		<td><%= icare.created_at.strftime("%d-%m-%Y") %></td>
		<td><%= icare.icare_type.name %></td>
		<td><%= icare.problem %></td>
		<td><%= icare.feedback %></td>
		<td>

			<% if icare.status == 10 %>
				<span class="label label-success">Completed</span>
			<% elsif icare.status == 1 %>
				<span class="label label-primary">Panding</span>
			<% elsif icare.status == 2 %>
				<span class="label label-default">On process</span>
			<% elsif icare.status == 3 %>
				<i class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Service Fixed"></i>
				<i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Not Fixed"></i>
			<% end %>
		</td>
		<td>
			<% if current_user.is_customer && icare.status == 1 %>
				<%= form_for icare, remote: true, method: "Delete" do |f| -%>
				  <%= button_tag(type: "submit", class: "btn") do %>
				  	<i class="glyphicon glyphicon-trash"></i>
				  <% end %>
				<% end %>
			<% end %>
		</td>



	</tr>
<% end %>