$("ul.errors").html("")
<% if @icare.errors.any? %>
  <% @icare.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $("#customer_icare_index").html("<%= escape_javascript(render 'icare') %>")
  <!-- $("#new_icare").show() -->

  $(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
  $(".notice").show()
<% end %>	
