	<!-- header -->
	<div class="header">
		<%= render 'shared/notification' %>    
	    <h1 class="page-title">ICare</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Home", dashboard_path) %></li>
	        <li class="active">ICare</li>
	    </ul>
	</div>  	
	<!-- header -->
	
<!-- employee view	 -->
	<div class="col-sm-12">
			<span class="pull-left" style="font-size: 1.75em; color:#3A4A53">ICare History</span>
			
			<table class="table  table-striped">
				<thead>
					<tr>
						<th class="col-sm-2">Name</th>
						<th class="col-sm-1">Date</th>
						<th class="col-sm-3">ICare Type</th>
						<th class="col-sm-4">Problem Description</th>
						<th class="col-sm-1">Status</th>
						<th class="col-sm-1">Action</th>
					</tr>
				</thead>

				<tbody id="customer_icare_index">
						<%= render 'admin_icare' %>
				</tbody>
			</table>
	</div>
<!-- employee view	 -->