<% if current_user.is_customer %>
<!-- customer view -->
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron">
				<span class="pull-left" style="font-size: 1.75em; color:#3A4A53">ICare History</span>
				<div class="pull-right">
					<!-- Button trigger modal -->
					<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#newICare">
					  <i class="glyphicon glyphicon-plus"></i>New ICare
					</button>
				</div>
				<table class="table  table-striped">
					<thead>
						<tr>
							<th>Date</th>
							<th>ICare Type</th>
							<th>Problem Description</th>
							<th>Feedback</th>
							<th>Status</th>

						</tr>
					</thead>

					<tbody id="customer_icare_index">
						<%= render 'icare' %>
					</tbody>
				</table>
			</div>
		</div>

		<!-- <div class="col-sm-3">
			<div class="jumbotron">
				

			</div>
		</div> -->
	</div>

	<!-- Modal -->
	<div class="modal fade" id="newICare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="myModalLabel">New ICare</h4>
	      	</div>
			<div id="new_icare">
				<%= render 'customer_form' %>
			</div>
	      
	    </div>
	  </div>
	</div>

<!-- customer view -->

<% end %>







