<% @admins.each_with_index do |admin, i| %>
	<tr>
		<td><%= i+1 %></td>
		<td><%= admin.first_name %></td>
		<td><%= admin.last_name %></td>
		<td><%= admin.mobile %></td>
		<td><%= admin.email %></td>
		<td><%= admin.username %></td>
		<td>company name</td>
	</tr>
<% end %>