<div class="header">
            
    <h1 class="page-title">Users</h1>
    <ul class="breadcrumb">
        <li><%= link_to("Home", dashboard_path) %></li>
        <li class="active">Users</li>
    </ul>
</div>


<div class="btn-toolbar list-toolbar">
	<%= link_to(new_user_path, class: "btn btn-primary") do %>
		<i class="fa fa-plus"></i> New User
	<% end %>
  <div class="btn-group">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
	  <th>Mobile</th>
      <th>Email</th>
      <th>Username</th>
      <th>Company Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'user' %>
  </tbody>
</table>

<ul class="pagination">
  
</ul>

