<div class="well">
	<div class="row">
		<%= render "shared/flash_message" %>
		<div class="col-sm-3">
			<div class="thumbnail">

				<%= image_tag('profile.jpg')  %>
		    	<!-- Button trigger modal -->
				
				<div data-toggle="modal" class="btn btn-link" data-target="#admin_pic">
				  Change Picture
				</div>
		    </div>
		</div>

		<div class="col-sm-4">
			<%= form_for @user do |f| %>
				<%= render 'shared/error_message', object: f.object %>
			  <div class="form-group">
			  	<%= f.label :password %><br />
			  	<%= f.password_field :password, class: "form-control" %>
			  </div>

			  <div class="form-group">
			  	<%= f.label :password_confirmation %><br />
			  	<%= f.password_field :password_confirmation, class: "form-control" %>
			  </div>

			  <%= f.submit "Save", disable_with: 'Saveing...', class: "btn btn-primary" %>
			<% end -%>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="admin_pic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <%= form_for current_user, url: upload_user_path(current_user) do |f| %>
			<%= render 'shared/error_message', object: f.object %>
		  
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		  <div class="form-group">
		  	<%= f.label :image %><br />
		  	<%= f.file_field :image %>
		  	  
		  </div>

		  <%= f.submit "Save", disable_with: 'Saveing...', class: "btn btn-primary" %>
		<% end -%>
      </div>
    </div>
  </div>
</div>