<% if @operators.present? %>
	<% @operators.each do |operator| %>
		<tr>
			<% @icare = operator.icare %>
			<td><%= link_to @icare.customer.batch_number,	customer_path(operator.icare.customer) %></td>
			<td><%= @icare.created_at.strftime("%d-%m-%Y") %></td>
			<td><%= @icare.icare_type.name %></td>
			<td><%= @icare.problem %></td>
			<td><%= @icare.extension_hour || 00 %> : <%= @icare.extension_minute %></td>
			<td><ol><%= @icare.operators.map{|p| p.employee.full_name}.join(",") %></ol></td>
			<td><%= @icare.hour || 00 %>:<%= @icare.minute %></td>
			<td>
				<% if @icare.status == 10 %>
					<span class="label label-success">Completed</span>
				<% elsif @icare.status == 1 %>
					<span class="label label-primary">Panding</span>
				<% elsif @icare.status == 2 %>
					<span class="label label-default">On process</span>
				<% elsif @icare.status == 3 %>
					<span class="label label-info">Decision Panding</span>
				<% elsif @icare.status == 4 %>
					<span class="label label-danger">Time Extension</span>
				<% end %>
			</td>
			<td>
				<%= form_for @icare, url: operator, remote: true do |f| -%>
	        		<%= f.hidden_field :status, value: 10 %>
		      		<%= button_tag(class: "btn") do %>
		      			<i class="glyphicon glyphicon-ok"></i>
		      		<% end %>
		      	<% end %>
				<!-- Button trigger modal -->
				<!-- <div class="left">
					<span class="btn glyphicon glyphicon-comment" data-toggle="modal" data-target="#feedback-<%= operator.id %>"></span>	
				</div> -->

				<% if @icare.status != 10 %>
					<div class="left">
						<span class="btn glyphicon glyphicon-resize-horizontal" data-toggle="modal" data-target="#time_extension-<%= operator.id %>"></span>	
					</div>	
				<% end %>
				<!-- Feedback -->
				<!-- <div class="modal fade bs-example-modal-sm" id="feedback-<%= operator.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title">Feedback</h4>
					      </div>

					      	<%= form_for @icare, url: operator, remote: true do |f| -%>
					      		<div class="modal-body">
					        		<%= f.hidden_field :status, value: 10 %>
					          		<%= f.label :feedback %><br />
					          		<%= f.text_area :feedback, class: "form-control" %>
					      		</div>

					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<%= f.submit "Submit", class: "btn btn-primary" %>
					      		</div>
					      	<% end %>
				    	</div>
					</div>
				</div> -->
				<!-- Feedback -->

				<!-- Time Extension -->
				<div class="modal fade bs-example-modal-sm" id="time_extension-<%= operator.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title">Time Extension</h4>
					      </div>

					      	<%= form_for @icare, url: operator, remote: true do |f| -%>

					      		<%= f.hidden_field :extension, value: (@icare.extension.to_i+1) %>
						      	<div class="modal-body">
							      	<div class="row">
										<div class="col-sm-5" style="padding-left: 0; padding-right: 0;">
											<div class="col-xs-4">
												<%= f.label :extension_hour, "Hour" %>
											</div>
										  	<div class="col-xs-8">
										  		<%= f.text_field :extension_hour, class: "form-control" %>
										  	</div>
										</div>
										<div class="col-sm-7" style="padding-left: 0; padding-right: 0;">
											<div class="col-xs-5">
												<%= f.label :extension_minute, "Minute" %>
											</div>
											<div class="col-xs-7">
												<%= f.select :extension_minute, ((0..59).step(5).to_a.map {|i| [i,i] }), {}, {class: "form-control"}  %>
												<%= f.hidden_field :status, value: 4 %>
											</div>
										</div>
										<div class="form-group">
											<%= f.label :reason_of_extention %><br />
											<%= f.text_area :reason_of_extention, class: 'form-control' %>
										</div>
									</div>
								</div>

								<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<%= f.submit "Submit", class: "btn btn-primary" %>
					      		</div>
					      	<% end %>
				    	</div>
					</div>
				</div>
				<!-- Time Extension -->
			</td>
		</tr>
	<% end %>		
<% end %>	

