<% if !current_user.is_customer %>
	<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>
	    <h1 class="page-title">ICare</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Home", dashboard_path) %></li>
	        <li class="active">Service</li>
	    </ul>
	</div>  	
	<!-- header -->
<% end %>

<div class="col-sm-12">
	<table class="table">
		<thead>
			<tr>
				<th class="">Customer Id</th>
				<th class="">Date</th>
				<th class="">Icare Type</th>
				<th class="col-sm-2">Problem Description</th>
				<th class="">Time Extension</th>
				<th class="">Assigned Employee</th>
				<th class="">Time</th>
				<th class="">Status</th>
				<th class="">Action</th>
			</tr>
		</thead>

		<tbody id="operator_index">
			<%= render 'service' %>
		</tbody>
	</table>
</div>
