<%= form_for @package, remote: true, html: {class: "form-horizontal", style: "display:inline"} do |f| %>
  <ul class="errors"></ul>
  <%= f.hidden_field :organization_id, value: current_organization.id %>
  <div class='form-group'>
    <%= f.label :name, "Package Name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Price" %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :data_speed, "Data Seed" %>
    <%= f.text_field :data_speed, class: 'form-control', placeholder: "512kb, 1Mb" %>
  </div>

  <div class="form-group">
    <%= f.label :vat, "Vat" %>
    <%= f.text_field :vat, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <% if @package.id %>
    <div class="form-group">
      <div class="col-xs-2"><%= f.label :active, "Active" %></div>
      <div class="col-xs-2"><%= f.check_box :active %></div>
    </div>    
  <% end %>

  <div class="pull-right">
    <%= f.submit "Add", disable_with: 'Package Adding...', class: "btn btn-primary" %>  
  </div>


<% end %>
