<% @packages.each do |package| %>
	<tr>
		<td><%= package.name %></td>
		<td><%= package.price %></td>
		<td><%= package.vat %></td>
		<td><%= package.total %></td>
		<td>
			<% if package.active %>
			    <span class="label label-info">Active</span>
			<% else %>
			    <span class="label label-danger">Deactive</span>
			<% end %>
		</td>
		<td>
			<%= link_to "Edit", edit_package_path(package), remote: true, class: "btn" %>
		</td>
	</tr>
<% end %>