$("ul.errors").html("")
<% if @package.errors.any? %>
  <% @package.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".package-index").html("<%= escape_javascript(render 'package') %>")
  $("#package_name").val('')
  $("#package_price").val('')
  $("#package_vat").val(0)
  $("#package_description").val('')
  $("#package_data_speed").val('')
  $("#package_new").show() 
  $("#package_update").hide()

  $(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
  $(".notice").show()
<% end %>