<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>
	    <h1 class="page-title">ICare</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Dashboard", dashboard_path) %></li>
	        <li class="active">Package</li>
	    </ul>
	</div>  	
<!-- header -->

<div class="col-sm-4">

	<div id="package_update"></div>

	<div id="package_new">
		<h3>Add New</h3>
		<%= render "form" %>	
	</div>
</div>
<div class="col-sm-1">&nbsp;</div>
<div class="col-sm-7">
	<h3>Package List</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Vat</th>
				<th>Total</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody class="package-index">
			<%= render "package" %>
		</tbody>
	</table>
</div>

<div class="modal fade" id="package_delete"></div>