<div class="notice">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= '#{key}' %>">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<%= content_tag(:div, value) %>	
		</div>
	<% end %>
</div>