<% if current_user.is_employee %>

	<% if current_employee.role.operator %>
		<div class="stats">
		    <p class="stat"><span class="label label-info">
		    	<%= operator_panding_service %>
		    </span> <%= link_to "Pending", operators_path %></p>
		    <p class="stat">
		    	<span class="label label-success"><%= operator_service_completed %></span> <%= link_to "Completed", operators_path %>
		    </p>
		    <p class="stat"><span class="label label-danger"><%= operator_overdue %></span> <%= link_to "Overdue", operators_path %></p>
		</div>
	<% end %>

	<% if current_employee.role.bill %>
		<div class="stats">
		    <p class="stat"><span class="label label-info">
		    	<%= monitor_pending %>
		    </span> <%= link_to "Pending", admin_index_icares_path %></p>
		</div>
	<% end %>
	
<% end %>