<div class="header">
    
    <%= render 'shared/notification' %>

    <h1 class="page-title">Dashboard</h1>
    <ul class="breadcrumb">
        <li class="active">Dashboard</li>
    </ul>
</div>

<div class="panel panel-default">
    <a href="#page-stats" class="panel-heading" data-toggle="collapse">Latest Stats</a>
    <div id="page-stats" class="panel-collapse panel-body collapse in">

        <div class="row">
            
            <% if current_user.is_super_admin %>
                <div class="col-md-3 col-sm-6">
                    <div class="knob-container">
                        <input class="knob" data-width="200" data-min="0" data-max="<%= Organization.all.count %>" data-displayPrevious="true" value="<%= Organization.all.count %>" data-fgColor="#92A3C2" data-readOnly=true;>
                        <h3 class="text-muted text-center">Organization</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="knob-container">
                        <input class="knob" data-width="200" data-min="0" data-max="<%= Customer.all.count %>" data-displayPrevious="true" value="<%= Customer.all.count %>" data-fgColor="#92A3C2" data-readOnly=true;>
                        <h3 class="text-muted text-center">Customer</h3>
                    </div>
                </div> 

                <div class="col-md-3 col-sm-6">
                    <div class="knob-container">
                        <input class="knob" data-width="200" data-min="0" data-max="<%= Employee.all.count %>" data-displayPrevious="true" value="<%= Employee.all.count %>" data-fgColor="#92A3C2" data-readOnly=true;>
                        <h3 class="text-muted text-center">Employee</h3>
                    </div>
                </div>    
            <% end %>

            <% if current_user.is_admin || current_user.is_employee %>
                <div class="col-md-3 col-sm-6">
                    <div class="knob-container">
                        <input class="knob" data-width="200" data-min="0" data-max="<%= current_organization.customers.count %>" data-displayPrevious="true" value="<%= current_organization.customers.count %>" data-fgColor="#92A3C2" data-readOnly=true;>
                        <h3 class="text-muted text-center">Customer</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="knob-container">
                        <input class="knob" data-width="200" data-min="0" data-max="<%= current_organization.employees.count %>" data-displayPrevious="true" value="<%= current_organization.employees.count %>" data-fgColor="#92A3C2" data-readOnly=true;>
                        <h3 class="text-muted text-center">Employees</h3>
                    </div>
                </div> 

                <div class="col-md-3 col-sm-6">
                    <div class="knob-container">
                        <input class="knob" data-width="200" data-min="0" data-max="<%= current_organization.zones.count %>" data-displayPrevious="true" value="<%= current_organization.zones.count %>" data-fgColor="#92A3C2" data-readOnly=true;>
                        <h3 class="text-muted text-center">Zone</h3>
                    </div>
                </div>    

                <div class="col-md-3 col-sm-6">
                    <div class="knob-container">
                        <input class="knob" data-width="200" data-min="0" data-max="<%= current_organization.packages.count %>" data-displayPrevious="true" value="<%= current_organization.packages.count %>" data-fgColor="#92A3C2" data-readOnly=true;>
                        <h3 class="text-muted text-center">Package</h3>
                    </div>
                </div>    
            <% end %>



            
        </div>

    </div>
</div>