<div class="well">


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_tag root_path, :method => 'get' do %>
          <div class="form-group">
            <div class="input-group">

              <div class="form-group">
                <%= grouped_collection_select :area, :area_id, District.order(:name), :areas, :name, :id, :name, {include_blank: true}, {:class=>'form-control'} %>

              </div>
              <div class="input-group-btn">
                <%= button_tag(class: "btn btn-default", id: "current_customer_search_btn") do %>
                  <i class="glyphicon glyphicon-search"></i>
                <% end %>
              </div>
            </div>
          </div>
    <% end %>
  </div>  
</div>



  <% @organizations.each do |organization| %>
    <div class="well">

    <div class="row">
      <div class="col-sm-12">
        
      
        <div class="pull-left"><span style="font-size: 2em;"><%= organization.name %></span></div>  
        <div class="pull-right">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#package-<%= organization.id %>">
            Package
          </button>

          <!-- Modal -->
          <div class="modal fade" id="package-<%= organization.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Packages</h4>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Price</th> 
                        <th>Data Speed</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% organization.packages.each do |package| %>
                        <tr>
                          <td><%= package.name %></td>
                          <td><%= package.f_price %></td>
                          <td><%= package.data_speed %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->

          <%= link_to "New Connection", new_organization_connection_path(organization), class: "btn btn-primary" %>
        </div>
        <!-- right div -->
      </div>
    </div>
      
      <div class="row">

        <div class="col-sm-2">
          <%= image_tag("default_logo.png", width: 120, hight: 70) %>
          
          <!-- Button trigger modal -->


        </div>

        <div class="col-sm-4">
          <span style="font-size: 1.6em;">Contact Info</span><br>
          <div class="row">
            <div class="col-sm-5">Mobile</div>
            <div class="col-sm-7">: <%= organization.mobile %></div>
          </div>

          <div class="row">
            <div class="col-sm-5">Email</div>
            <div class="col-sm-7">: <%= organization.email %></div>
          </div>

          <div class="row">
            <div class="col-sm-5">House</div>
            <div class="col-sm-7">: <%= organization.house %></div>
          </div>

          <div class="row">
            <div class="col-sm-5">Block</div>
            <div class="col-sm-7">: <%= organization.block %></div>
          </div>

          <div class="row">
            <div class="col-sm-5">Location</div>
            <div class="col-sm-7">: <%= organization.area.name %>, <%= organization.area.district.name %></div>
          </div>
        </div>

        <div class="col-sm-6">
          <span style="font-size: 1.6em;">Coverage</span><br>
          <% organization.zones.each do |zone| %>
             <span class="label label-default"><%= zone.name %></span>
          <% end %>
        </div>
      </div>
      


    </div>
  <% end %> 
  <%= will_paginate @organizations %> 
</div>