<% if @bills.present? %>
	<% @bills.each do |bill| %>
		<% if bill.credit==0 %>
			<tr>
				<td><%= bill.customer.batch_number %></td>
				<td><%= bill.customer.full_name %></td>
				<td><%= bill.debit %></td>
				<td><%= bill.credit %></td>
				<td><%= bill.customer.wallet.amount %></td>
				<td>
					<div class="left">
						<%= form_for bill, remote: true, id: "paid_form" do |f| %>
						
						  	<%= button_tag(type: 'submit', class: "btn") do %>
								<font size="2px;"><i class="glyphicon glyphicon-ok"></i></font>
							<% end %>
						<% end -%>
					</div>
					<div class="left">
						<span class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#bill-<%= bill.id %>"></span>
					</div>
					<div class="left">
						<%= form_for bill, remote: true, method: "Delete" do |f| %>
							<%= button_tag(type: 'submit', class: "btn") do %>
								<font size="2px;"><i class="glyphicon glyphicon-trash"></i></font>
							<% end %>	  
						<% end -%>	
					</div>
				</td>
			</tr>
		<% elsif bill.credit.to_f >= bill.debit.to_f %>
			<tr class="success">
				<td><%= bill.customer.batch_number %></td>
				<td><%= bill.customer.full_name %></td>
				<td><%= bill.debit %></td>
				<td><%= bill.credit %></td>
				<td><%= bill.customer.wallet.amount %></td>
				<td>
					<div class="left">
						<span class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#bill-<%= bill.id %>"></span>
					</div>
					<div class="left">
						<%= form_for bill, remote: true, method: "Delete" do |f| %>
							<%= button_tag(type: 'submit', class: "btn") do %>
								<font size="2px;"><i class="glyphicon glyphicon-trash"></i></font>
							<% end %>	  
						<% end -%>	
					</div>
				</td>
			</tr>
		<% else %>
			<tr class="danger">
				<td><%= bill.customer.batch_number %></td>
				<td><%= bill.customer.full_name %></td>
				<td><%= bill.debit %></td>
				<td><%= bill.credit %></td>
				<td><%= bill.customer.wallet.amount %></td>
				<td>
					<div class="left">
						<span class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#bill-<%= bill.id %>"></span>
					</div>
					<div class="left">
						<%= form_for bill, remote: true, method: "Delete" do |f| %>
							<%= button_tag(type: 'submit', class: "btn") do %>
								<font size="2px;"><i class="glyphicon glyphicon-trash"></i></font>
							<% end %>	  
						<% end -%>	
					</div>
				</td>
			</tr>
		<% end %>


		<div class="modal fade bs-example-modal-sm" id="bill-<%= bill.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"><%= bill.customer.batch_number %>-<%= bill.customer.full_name %></h4>
		      </div>
		      	<%= form_for bill, url: custom_paid_bill_path(bill), remote: true do |f| %>
		      		<div class="modal-body">
		        	
						<%= f.text_field :credit, value: bill.credit, class: 'form-control' %>
					  	
					
		      		</div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        
				        <%= f.submit "Save", disable_with: 'Saveing...', class: "btn btn-primary" %>
				        
				        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button> -->
				    </div>
		      	<% end -%>
		    </div>
		  </div>
		</div>
	<% end %>
<% end %>





