<!-- header -->
	<div class="header">
	    <div class="stats">
	        
	    </div>

	    <h1 class="page-title">Customer Bills</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Home", dashboard_path) %></li>
	        <li class="active">Bill</li>
	    </ul>
	</div>  	
<!-- header -->

<div class="col-sm-9">
	<section class="panel panel-default">
		<header class="panel-heading">
			<div class="panel-title">
				Bills
				<div class="pull-right">
					<div id="change_date">
						<%= render 'change_month' %>
					</div>
				</div>
			</div>
		</header>
		<div class="panel-body">
			<div class="row">
			<%= render "shared/flash_message" %>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Customer ID</th>
							<th>Name</th>
							<th>Bill</th>
							<th>Paid</th>
							<th>Account</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="bills">
						<%= render 'bill' %>
					</tbody>
				</table>
				<% if @bills.present? %>
					<%= will_paginate %>	
				<% end %>
			</div>
			
		</div>
	</section>
</div>

<div class="col-sm-3">
	<section class="panel panel-default">
		<header class="panel-heading">
			<h3 class="panel-title">Advance Search</h3>
		</header>
		<%= @cust_id %>
		<div class="panel-body">
			<%= form_tag bills_path, remote: true, :method => 'get', :id => "bill_advance_search" do %>

				<div class="form-group">
					<%= date_select :month_year, [], order: [:month, :year] %>
				</div>
				<%= text_field_tag :batch_number, [], class: "form-control", placeholder: "Customer ID" %><br />
				<%= select_tag :package_id, options_for_select(current_organization.packages.where(active: true).order(:name).collect{ |u| [u.name, u.id] }), {:class=>'form-control', include_blank: true} %><br />
				<%= select_tag :zone_id, options_for_select(current_organization.zones.order(:name).collect{ |u| [u.name, u.id] }), {:class=>'form-control', include_blank: true} %><br />

				<%= button_tag "Search", {class: "btn btn-primary"} %>
			<% end %>
		</div>
	</section>
</div>