<% if !@current_customers.nil? %>
	<% @current_customers.each do |customer| %>
		<tr>
			
			<td><%= customer.batch_number %></td>
			<td><%= customer.first_name %> <%= customer.last_name %></td>
			<td><%= customer.email %></td>
			<td><%= customer.mobile %></td>
			<td><%=  %></td>
			<td><%= customer.zone.name %></td>
			<td><%= customer.package.name %></td>
			<td><%= customer.package.f_price %></td>
			<td>
				<div class="left">
					<%= link_to edit_customer_path(customer), class: "btn" do %>
						<i class="glyphicon glyphicon-edit"></i>
					<% end %>	
				</div>
				
				<div class="left">
					<%= form_for customer, remote: true do |f| %>
					  <%= f.hidden_field :active, value: false %>
					  	<%= button_tag(type: 'submit', class: "btn") do %>
							<font size="2px;"><i class="glyphicon glyphicon-trash"></i></font>
						<% end %>
					<% end -%>	
				</div>

				<div class="left">
					<%= link_to customer_path(customer), class: "btn" do %>
						<i class="glyphicon glyphicon-user"></i>
					<% end %>
				</div>

				<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#newICare-<%= customer.id %>">
				  	<i class="glyphicon glyphicon-send"></i>
				</button>





				<!-- Modal -->
				<div class="modal fade" id="newICare-<%= customer.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        	<h4 class="modal-title" id="myModalLabel">New ICare</h4>
				      	</div>
						<div id="new_icare">
							<%= form_for @icare do |f| %>

							  <div class="modal-body">
							     <ul class="errors"></ul>
							      <%= f.hidden_field :organization_id, value: current_organization.id %>
							      <%= f.hidden_field :customer_id, value: customer.id %>
							      
							      <%= f.hidden_field :status, value: 1 %>
							      <div class="form-group">
							        <%= f.label :icare_type_id, "ICare Type" %><br>
							        <%= f.collection_select(:icare_type_id, current_organization.icare_types.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
							      </div>

							      <div class="form-group">
							        <%= f.label :problem, "Problem Description" %>
							        <%= f.text_area :problem, class: "form-control", rows: 10 %>
							      </div>

							      
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <%= f.submit "Submit", disable_with: 'Submiting...', class: "btn btn-primary" %> 
							      </div>    
							  </div>

							<% end %>
						</div>
				      
				    </div>
				  </div>
				</div>

			<!-- customer view -->
			</td>
		</tr>
	<% end %>	
<% end %>
