<%= form_for @customer do |f| %>
	
	<%= render 'shared/error_message', object: f.object %>

	<%= f.hidden_field :organization_id, value: current_organization.id %>
	

	<fieldset>
		<legend>Basic Infomation</legend>
		<div class="form-group">
			<%= f.label :batch_number, "Customer Id"  %><br>
			<%= f.text_field :batch_number, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :first_name %><br>
			<%= f.text_field :first_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :last_name %><br>
			<%= f.text_field :last_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email %><br>
			<%= f.text_field :email, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :mobile %><br>
			<%= f.text_field :mobile, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :package_id, "Package" %><br/>
			<%= f.collection_select(:package_id, current_organization.packages.where(active: true).order(:name), :id, :package_price, {include_blank: true}, {:class=>'form-control'}) %>
		</div>
	</fieldset>

	
	<% if !@customer.id %>
		<%= f.fields_for :wallet do |w| %>
			<%= w.hidden_field :amount, value: 0 %>
		<% end %>
		
		<%= f.fields_for :user do |u| %>
			<fieldset>
				<legend>Login Infomation</legend>
				<%= u.hidden_field :role, value: "customer" %>
				<%= u.hidden_field :organization_id, value: current_organization.id %>
				
			  	<div class="form-group">
					<%= u.label :username %><br>
					<%= u.text_field :username, autofocus: true, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= u.label :password %><br>
					<%= u.password_field :password, autofocus: true, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= u.label :password_confirmation %><br>
					<%= u.password_field :password_confirmation, autofocus: true, class: "form-control" %>
				</div>
			</fieldset>
		<% end %>
	<% end %>

	<fieldset>
		<legend>PC Information</legend>
			<div class="form-group">
				<%= f.label :ip_address %><br />
				<%= f.text_field :ip_address, autofocus: true, class: "form-control", placeholder: "192.168.1.9" %>
			</div>

			<div class="form-group">
				<%= f.label :mac_address %><br />
				<%= f.text_field :mac_address, autofocus: true, class: "form-control", placeholder: "8E:33:DQ:D9" %>
			</div>
	</fieldset>

	<fieldset>
		<legend>Location And Join Date</legend>
		<div class="row">
			<div class="col-sm-6">
				<%= f.label :house, "House" %>
				<%= f.text_field :house, autofocus: true, class: "form-control", placeholder: "15C/23C" %>
			</div>

			<div class="col-sm-6">
				<%= f.label :block, "Block" %>
				<%= f.text_field :block, autofocus: true, class: "form-control", placeholder: "A" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :zone_id, "Area" %><br/>
			<%= f.collection_select(:zone_id, current_organization.zones.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
		</div>

		<div class="form-group">
			<%= f.label :location_specification, "Location Specification" %>
			<%= f.text_field :location_specification, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :join_date %><br>
			<%= f.date_field(:join_date, :value => Time.now.strftime('%Y-%m-%d'), class: "form-control") %>
		</div>
	</fieldset>

	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>