<% if !@x_customers.nil? %>
	<% @x_customers.each do |customer| %>
		<tr>
			<td><%= customer.batch_number %></td>
			<td><%= customer.first_name %> <%= customer.last_name %></td>
			<td><%= customer.email %></td>
			<td><%= customer.mobile %></td>
			<td><%=  %></td>
			<td><%= customer.zone.name %></td>
			<td><%= customer.join_date %></td>
			<td><%= customer.package.f_price %></td>
			<td>
				<div class="left">
					<%= link_to edit_customer_path(customer), class: "btn" do %>
						<i class="glyphicon glyphicon-edit"></i>
					<% end %>	
				</div>
				
				<div class="left">
					<%= form_for customer, remote: true do |f| %>
					  <%= f.hidden_field :active, value: true %>
					  	<%= button_tag(type: 'submit', class: "btn") do %>
							<font size="2px;"><i class="glyphicon glyphicon-ok"></i></font>
						<% end %>
					<% end -%>	
				</div>

				<div class="left">
					<%= link_to customer_path(customer), class: "btn" do %>
						<i class="glyphicon glyphicon-user"></i>
					<% end %>
				</div>
			</td>
		</tr>
	<% end %>
<% end %>