<% if !current_user.is_customer %>
	<!-- header -->
	<div class="header">
	    <h1 class="page-title"><%= @customer.full_name %></h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Customers", customers_path) %></li>
	        <li class="active">Edit</li>
	    </ul>
	</div>  	
	<!-- header -->	
<% end %>


<div class="well">
	<div class="row">

		<!-- right side -->
		<div class="col-md-3 col-xs-12 pull-right">
			<!-- profile picture	 -->
		    
		    <%= image_tag("profile.jpg") %>
			<!-- profile picture	 -->

			<!-- Button trigger modal -->
			<% if current_user.id == @customer.user.id %>
				<button class="btn btn-link" data-toggle="modal" data-target="#myModal">
				  Change Picture
				</button>	
			<% end %>
			

			<div class="pull-right">
				<% if @customer.active %>
					<span class="label label-success">active</span>	
				<% else %>
					<span class="label label-danger">deactive</span>	
				<% end %>
			</div>
			
		</div>
		<!-- right side -->

		<!-- left side -->
		<div class="col-md-9 pull-left">
			
			<ul class="nav nav-pills" role="tablist" id="myTab">
			  <li class="active"><a href="#customer_basic_info" role="tab" data-toggle="tab">Basic Info</a></li>
			  <li><a href="#customer_address" role="tab" data-toggle="tab">Address</a></li>
			  <li><a href="#customer_login_info" role="tab" data-toggle="tab">Login Info</a></li>
			</ul>

			<div class="tab-content">


				<div class="tab-pane active" id="customer_basic_info">
					<%= render "customers/edit/basic" %>
				</div>
				<div class="tab-pane" id="customer_address">
					<%= render "customers/edit/address" %>
				</div>
				<div class="tab-pane" id="customer_login_info">
					<%= render "customers/edit/login_info" %>
				</div>

			</div>

		</div>
		<!-- left side -->

	</div>
</div>




<% if current_user.id == @customer.user.id %>
	<!-- Modal -->
	<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <%= form_for current_user, url: customer_upload_user_path(current_user) do |f| %>
				<%= render 'shared/error_message', object: f.object %>
			  
				<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			  <div class="form-group">
			  	<%= f.label :image %><br />
			  	<%= f.file_field :image %>
			  	  
			  </div>

			  <%= f.submit "Save", disable_with: 'Saveing...', class: "btn btn-primary" %>
			<% end -%>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>