$("#current_customers").html("<%= escape_javascript(render("current_customer")) %>");
$("#x_customers").html("<%= escape_javascript(render("x_customer")) %>");
$("#all_customers").html("<%= escape_javascript(render("all_customer")) %>");