

<!-- Nav tabs -->
<div class="row">
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#current_customer" role="tab" data-toggle="tab">Current Customer</a></li>
	  <li><a href="#x_customer" role="tab" data-toggle="tab">X-Customer</a></li>
	  <li><a href="#all_customer" role="tab" data-toggle="tab">All Customer</a></li>
	</ul>
</div>

<!-- Tab panes -->

<div class="tab-content">

<!-- Current Customer -->
  	<div class="tab-pane active" id="current_customer">
  	<!-- header -->
		<div class="header">
		    

		    <div class="stats">
		        
		    </div>

		    <h1 class="page-title">Current Customer</h1>
		    <ul class="breadcrumb">
		        <li><%= link_to("Home", dashboard_path) %></li>
		        <li class="active">Current Customers</li>
		    </ul>
		</div>  	
	<!-- header -->

	<!-- list -->
		<div class="col-sm-12">
			<div class="col-sm-6 col-sm-offset-3">
				<%= form_tag customers_path, :method => 'get', remote: true, :id => "current_customer_search" do %>
					<div class="form-group">
						<div class="input-group">
							<%= text_field_tag :current_customer_search, params[:current_customer_search], class: "form-control", placeholder: "Search" %>	
							<div class="input-group-btn">
								<%= button_tag(class: "btn btn-default", id: "current_customer_search_btn") do %>
									<i class="glyphicon glyphicon-search"></i>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Customer ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Mobile</th>
						<th>Address</th>
						<th>Zone</th>
						<th>Package</th>
						<th>Monthly Fee</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="current_customers">
					<%= render "current_customer" %>
				</tbody>
			</table>
		</div>
	<!-- list -->
  	</div>
<!-- Current Customer -->

<!-- x-customer -->
	<div class="tab-pane" id="x_customer">
		<!-- header -->
			<div class="header">
			    <div class="pull-right">
			    	<%= form_tag customers_path, :method => 'get', remote: true, :id => "x_customer_search" do %>
						<div class="input-group">
								<%= text_field_tag :x_customer_search, params[:x_customer_search], class: "form-control", placeholder: "Search" %>	
							<div class="input-group-btn">
								<%= button_tag(class: "btn btn-default") do %>
									<i class="glyphicon glyphicon-search"></i>
								<% end %>
							</div>
						</div>
					<% end %>
			    </div>
			    <div class="h_space">&nbsp;</div>

			    <h1 class="page-title">X-Customer</h1>
			    <ul class="breadcrumb">
			        <li><%= link_to("Home", dashboard_path) %></li>
			        <li class="active">X-Customers</li>
			    </ul>
			</div>  	
		<!-- header -->


		<!-- list -->
		<div class="col-sm-12">
			<div class="col-sm-6 col-sm-offset-3">
				<%= form_tag customers_path, :method => 'get', remote: true, :id => "x_customer_search" do %>
					<div class="form-group">
						<div class="input-group">
							<%= text_field_tag :x_customer_search, params[:x_customer_search], class: "form-control", placeholder: "Search" %>	
							<div class="input-group-btn">
								<%= button_tag(class: "btn btn-default", id: "x_customer_search_btn") do %>
									<i class="glyphicon glyphicon-search"></i>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Customer ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Mobile</th>
						<th>Address</th>
						<th>Zone</th>
						<th>Join Date</th>
						<th>Monthly Fee</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="x_customers">
					<%= render "x_customer" %>
				</tbody>
			</table>
		</div>
	<!-- list -->
	</div>
<!-- x-customer -->

<!-- all customer -->
	<div class="tab-pane" id="all_customer">
		<!-- header -->
			<div class="header">
			    <div class="pull-right">
			    	<%= form_tag customers_path, :method => 'get', remote: true, :id => "all_customer_search" do %>
						<div class="input-group">
								<%= text_field_tag :all_customer_search, params[:all_customer_search], class: "form-control", placeholder: "Search" %>	
							<div class="input-group-btn">
								<%= button_tag(class: "btn btn-default") do %>
									<i class="glyphicon glyphicon-search"></i>
								<% end %>
							</div>
						</div>
					<% end %>
			    </div>

			    <h1 class="page-title">All Customer</h1>
			    <ul class="breadcrumb">
			        <li><%= link_to("Home", dashboard_path) %></li>
			        <li class="active">All Customer</li>
			    </ul>
			</div>  	
		<!-- header -->

		<!-- list -->
			<div class="col-sm-12">
				<div class="col-sm-6 col-sm-offset-3">
					<%= form_tag customers_path, :method => 'get', remote: true, :id => "current_customer_search" do %>
						<div class="form-group">
							<div class="input-group">
								<%= text_field_tag :all_customer_search, params[:all_customer_search], class: "form-control", placeholder: "Search" %>	
								<div class="input-group-btn">
									<%= button_tag(class: "btn btn-default", id: "all_customer_search_btn") do %>
										<i class="glyphicon glyphicon-search"></i>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Customer ID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Address</th>
							<th>Zone</th>
							<th>Join Date</th>
							<th>Monthly Fee</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="all_customers">
						<%= render "all_customer" %>
					</tbody>
				</table>
			</div>
		<!-- list -->
	</div>
<!-- all customer -->
</div>
