<!-- header -->
	<div class="header">
	    <div class="stats">
	        
	    </div>

	    <h1 class="page-title">New Customer</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Customers", customers_path) %></li>
	        <li class="active">Add Customer</li>
	    </ul>
	</div>  	
<!-- header -->

<div class="col-sm-7">
	<% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert") %>
    <% end %>
	<%= render "form" %>
	<div class="row">&nbsp;</div>	
</div>

<div class="col-sm-5">
	<div style="margin-top: 26px;">
		<section class="panel panel-default">
			<header class="panel-heading">
				<div class="panel-title"><%= link_to "New Customers", customers_path %></div>
			</header>

			<div class="panel-body">
				<table class="table">
					<% @customers.each do |customer| %>
						<tr>
							<td><%= customer.batch_number %></td>
							<td><%= customer.full_name %></td>
							<td><%= customer.package.f_price %></td>
						</tr>	
					<% end %>
					
				</table>
			</div>
		</section>
	</div>
</div>
