<% if !current_user.is_customer %>
	<!-- header -->
	<div class="header">
	    <div class="stats">
	    	<span class="label label-success">Wallet: <%= @customer.wallet.amount %></span>
	    </div>

	    <h1 class="page-title"><%= @customer.full_name %></h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Customers", customers_path) %></li>
	        <li class="active">Profile</li>
	    </ul>
	</div>  	
	<!-- header -->
<% end %>


<div class="well">
	<div class="row">

		<!-- right side -->
		<div class="col-md-3 col-xs-12 pull-right">
			<!-- profile picture	 -->
		    <%= image_tag("profile.jpg") %>	
			<!-- profile picture	 -->

			<div class="pull-right">
				<% if @customer.active %>
					<span class="label label-success">active</span>	
				<% else %>
					<span class="label label-danger">deactive</span>	
				<% end %>
				
			</div>

			<h3>General Information</h3>
			<table class="table">
				<tr>
					<td>Customer ID</td>
					<td><%= @customer.batch_number %></td>
				</tr>
				<tr>
					<td>Package</td>
					<td><%= @customer.package.name %>-<%= @customer.package.f_price %></td>
				</tr>
				<tr>
					<td>Join Date</td>
					<td><%= @customer.join_date.strftime("%d-%m-%Y") %></td>
				</tr>
			</table>

			<h3>Contact Information</h3>
			<table class="table">
				<tr>
					<td><i class="fa fa-phone"></i> Mobile</td>
					<td><%= @customer.mobile %></td>
				</tr>
				<tr>
					<td><i class="fa fa-envelope"></i> Email</td>
					<td><%= @customer.email %></td>
				</tr>
				<tr>
					<td><i class="fa fa-map-marker">Address</td>
					<td>
						<p>House: <%= @customer.house %></p>
						<% if @customer.block %>
							<p>Block: <%= @customer.block %></p>
						<% end %>
						<p>Area: <%= @customer.zone.name %></p>
						<% if @customer.location_specification %>
							<p><%= @customer.location_specification %></p>
						<% end %>
					</td>
				</tr>
			</table>

		</div>
		<!-- right side -->

	<!-- left side -->
	<% if !current_user.is_customer  %>
		<!-- organization view -->
		<div class="col-md-9 pull-left">
			<ul class="nav nav-pills" role="tablist" id="myTab">
			  <li class="active"><a href="#bill" role="tab" data-toggle="tab">Bill</a></li>
			  <li><a href="#service" role="tab" data-toggle="tab">Service</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="bill">
			  	<h2>Billing History</h2>
			  	<table class="table table-striped table-bordered">
			  		<thead>
			  			<tr>
			  				<th>Date</th>
			  				<th>Debit</th>
			  				<th>Credit</th>
			  			</tr>
			  		</thead>
			  		<tbody>
			  			<% @bills = @customer.bills.order(updated_at: :desc) %>
			  			<% @bills.each do |bill| %>
			  				<tr>
			  					<td><%= bill.updated_at.strftime("%d-%m-%Y") %></td>
			  					<td><%= bill.debit %></td>
			  					<td><%= bill.credit %></td>
			  				</tr>
			  			<% end %>
			  		</tbody>
			  	</table>
			  </div>
			  <div class="tab-pane" id="service">
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			  </div>
			</div>
		</div>
		<!-- organization view -->
	<% else %>
		<!-- customer view -->
		<div class="col-md-9 pull-left">
			<h2>Billing History</h2>
			<table class="table table-striped table-bordered">
		  		<thead>
		  			<tr>
		  				<th>Date</th>
		  				<th>Debit</th>
		  				<th>Credit</th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  			<% @bills = @customer.bills.order(updated_at: :desc) %>
		  			<% @bills.each do |bill| %>
		  				<tr>
		  					<td><%= bill.updated_at.strftime("%d-%m-%Y") %></td>
		  					<td><%= bill.debit %></td>
		  					<td><%= bill.credit %></td>
		  				</tr>
		  			<% end %>
		  		</tbody>
		  	</table>
		</div>	
		<!-- customer view -->
	<% end %>
	<!-- left side -->

			  
	</div>
</div>
