$(".flash").html("<%= escape_javascript(render 'shared/flash_message') %>")
$("#customer_basic_info").html("<%= escape_javascript(render 'customers/edit/basic') %>")
$("#customer_address").html("<%= escape_javascript(render 'customers/edit/address') %>")
$("#customer_login_info").html("<%= escape_javascript(render 'customers/edit/login_info') %>")
$(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
$(".notice").show()