<% if params[:month_year].nil? %>

	<%= Time.now.strftime("%B %Y") %>
<% else %>
<% @date = Date.new(params[:month_year]['(1i)'].to_i, params[:month_year]['(2i)'].to_i, params[:month_year]['(3i)'].to_i) %>
	<%= @date.strftime("%B %Y") %>
<% end %>