<% if @salaries.present? %>
	<% @salaries.each do |salary| %>
		<% if salary.credit==0 %>
			<tr>
				<td><%= salary.employee.batch_number %></td>
				<td><%= salary.employee.full_name %></td>
				<td><%= salary.debit %></td>
				<td><%= salary.credit %></td>
				<td><%= salary.employee.wallet.amount %></td>
				<td>
					<div class="left">
						<%= form_for salary, remote: true, id: "paid_form" do |f| %>
						
						  	<%= button_tag(type: 'submit', class: "btn") do %>
								<font size="2px;"><i class="glyphicon glyphicon-ok"></i></font>
							<% end %>
						<% end -%>
					</div>
					<div class="left">
						<span class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#salary-<%= salary.id %>"></span>
					</div>
					<div class="left">
						<%= form_for salary, remote: true, method: "Delete" do |f| %>
							<%= button_tag(type: 'submit', class: "btn") do %>
								<font size="2px;"><i class="glyphicon glyphicon-trash"></i></font>
							<% end %>	  
						<% end -%>	
					</div>
				</td>
			</tr>
		<% elsif salary.credit.to_f < salary.debit.to_f %>
			<tr class="danger">
				<td><%= salary.employee.batch_number %></td>
				<td><%= salary.employee.full_name %></td>
				<td><%= salary.debit %></td>
				<td><%= salary.credit %></td>
				<td><%= salary.employee.wallet.amount %></td>
				<td>
					<div class="left">
						<span class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#salary-<%= salary.id %>"></span>
					</div>
				</td>
			</tr>
		<% else %>
			<tr class="success">
				<td><%= salary.employee.batch_number %></td>
				<td><%= salary.employee.full_name %></td>
				<td><%= salary.debit %></td>
				<td><%= salary.credit %></td>
				<td><%= salary.employee.wallet.amount %></td>
				<td>
					<div class="left">
						<span class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#salary-<%= salary.id %>"></span>
					</div>
				</td>
			</tr>
		<% end %>


		<div class="modal fade bs-example-modal-sm" id="salary-<%= salary.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"><%= salary.employee.batch_number %>-<%= salary.employee.full_name %></h4>
		      </div>
		      	<%= form_for salary, url: custom_paid_salary_path(salary), remote: true do |f| %>
		      		<div class="modal-body">
		        	
						<%= f.text_field :credit, value: salary.credit %>
					  	
					
		      		</div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <%= f.submit "Save", disable_with: 'Saveing...', class: "btn btn-primary" %>
				    </div>
		      	<% end -%>
		    </div>
		  </div>
		</div>
	<% end %>
<% end %>





