<!-- header -->
<div class="header">
    <%= render 'shared/notification' %>

    <h1 class="page-title">Employee Salary</h1>
    <ul class="breadcrumb">
        <li><%= link_to("Home", dashboard_path) %></li>
        <li class="active">Salary</li>
    </ul>
</div>  	
<!-- header -->

<div class="col-sm-9">
	<section class="panel panel-default">
		<header class="panel-heading">
			<div class="panel-title">
				Salary
				<div class="pull-right">
					<div id="change_salary_date">
						<%= render 'change_month' %>
					</div>
				</div>
			</div>
		</header>
		<div class="panel-body">
			<div class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Employee ID</th>
							<th>Name</th>
							<th>Salary</th>
							<th>Paid</th>
							<th>Account</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="salaries">
						<%= render 'salary' %>
					</tbody>
				</table>
				<% if @salaries.present? %>
					<%= will_paginate %>	
				<% end %>
			</div>
			
		</div>
	</section>
</div>

<div class="col-sm-3">
	<section class="panel panel-default">
		<header class="panel-heading">
			<h3 class="panel-title">Advance Search</h3>
		</header>
		<%= @cust_id %>
		<div class="panel-body">
			<%= form_tag salaries_path, remote: true, :method => 'get', :id => "salary_advance_search" do %>

				<div class="form-group">
					<%= date_select :month_year, [], order: [:month, :year] %>
				</div>
				<%= text_field_tag :batch_number, [], class: "form-control", placeholder: "Salary ID" %><br />

				<%= button_tag "Search", {class: "btn btn-primary"} %>
			<% end %>
		</div>
	</section>
</div>