<%= form_for @customer, remote: true do |f| %>
	
	<!-- <%= render "shared/flash_message" %> -->
	<%= render 'shared/error_message', object: f.object %>

	<%= f.hidden_field :organization_id, value: current_organization.id %>
	
	<fieldset>
		<legend>Location And Join Date</legend>
		<div class="row">
			<div class="col-sm-6">
				<%= f.label :house, "House" %>
				<%= f.text_field :house, autofocus: true, class: "form-control" %>
			</div>

			<div class="col-sm-6">
				<%= f.label :block, "Block" %>
				<%= f.text_field :block, autofocus: true, class: "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :zone_id, "Area" %><br/>
			<%= f.collection_select(:zone_id, current_organization.zones.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
		</div>

		<div class="form-group">
			<%= f.label :location_specification, "Location Specification" %>
			<%= f.text_field :location_specification, class: "form-control" %>
		</div>
	</fieldset>

	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>