<%= form_for @customer, remote: true do |f| %>

	<%= render 'shared/error_message', object: f.object %>
	<fieldset>
		<legend>Basic Infomation</legend>
		<div class="form-group">
			<%= f.label :batch_number, "Customer Id"  %><br>
			<%= f.text_field :batch_number, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :first_name %><br>
			<%= f.text_field :first_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :last_name %><br>
			<%= f.text_field :last_name, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email %><br>
			<%= f.text_field :email, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :mobile %><br>
			<%= f.text_field :mobile, autofocus: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :package_id, "Package" %><br/>
			<%= f.collection_select(:package_id, current_organization.packages.where(active: true).order(:name), :id, :package_price, {include_blank: true}, {:class=>'form-control'}) %>
		</div>

		<div class="form-group">
			<%= f.label :join_date %><br>
			<%= f.date_field(:join_date, :value => Time.now.strftime('%Y-%m-%d'), class: "form-control") %>
		</div>
	</fieldset>

	

	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>