<%= form_for @customer, remote: true do |f| %>
	
	<div class="notice"></div>
	<%= render 'shared/error_message', object: f.object %>

	<%= f.hidden_field :organization_id, value: current_organization.id %>
	
		<%= f.fields_for :user do |u| %>
			<fieldset>
				<legend>Login Infomation</legend>

				<%= u.hidden_field :role, value: "customer" %>
				<%= u.hidden_field :organization_id, value: current_organization.id %>

				<div class="form-group">
					<%= u.label :password %><br>
					<%= u.password_field :password, autofocus: true, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= u.label :password_confirmation %><br>
					<%= u.password_field :password_confirmation, autofocus: true, class: "form-control" %>
				</div>

			</fieldset>
		<% end %>
	
	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>