<div class="modal-dialog">
	<div class="modal-content">
	  	<div class="modal-body">
			<ul class="errors"></ul>
			Are you sure you wish to delete <b><%= @district.name %></b>?
		</div>
		<div class="modal-footer">
		  <%= link_to "Yes, Delete This District", district_path(@district), method: :delete, remote: true, class: "btn btn-danger" %>
		  <%= link_to "No, Please Don't", "#", class: "btn", data: { dismiss: "modal" } %>
		</div>
	</div>
</div>