<% if !@districts.nil? %>
    <% @districts.each do |district| %>
		<tr>
			<td><%= district.name %></td>
			<td>Total area</td>
			<td>
				<%= link_to("Edit", edit_district_path(district), remote: true, class: "btn") %> | 
				<%#= link_to("Delete", district_delete_path(district),:remote => true, 'data-toggle' => "modal", 'data-target' => "#district_delete") %>

				<%= link_to("Area", district_areas_path(district), remote: true, class: "btn") %>
			</td>
		</tr>
	<% end %>
<% end %>

