<%= form_for @district, remote: true, html: {class: "form-horizontal", style: "display:inline"} do |f| %>
  <ul class="errors"></ul>
  <div class='form-group'>
      <div class="col-xs-9">
        <%= f.text_field :name, class: 'form-control' %>
        
      </div>
      <div class="col-xs-3">
        <%= f.submit "Add", disable_with: 'District Adding...', class: "btn btn-primary" %>
      </div>
  </div>
<% end %>
