$("ul.errors").html("")
<% if @district.errors.any? %>
  <% @district.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".district-index").html("<%= escape_javascript(render 'district') %>")
  $("#district_name").val('')
  $("#district_new").show()  
  $(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
  $(".notice").show()
<% end %>