<div class="col-sm-7">

	<div id="district_update"></div>
	
	<div id="district_new">
		<h3>Add New</h3>
		<%= render "form" %>	
	</div>
	
	<h3>District List</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Total Area</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody class="district-index">
			<%= render "district" %>
		</tbody>
	</table>
	<%= will_paginate %>	
	
</div>

<div class="col-sm-5">
	<div id="area_index"></div>
</div>

<div class="modal fade" id="district_delete"></div>