<div id="area_update"></div>
	
<div id="area_new">
	<h3>Add Area New </h3>
	<%= render 'form' %>
</div>

<h3>Area List of <%= @district.name %></h3>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody class="area_row">
		<%= render 'area' %>		
	</tbody>
</table>
