<% if @area.errors.any? %>
$("ul.errors").html("")
  <% @area.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".area_row").html("<%= escape_javascript(render 'area', locals: {district: @district}) %>")
  $("#area_name").val('')
  $(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
  $(".notice").show()
<% end %>