<% @report.each do |bill| %>
	<% if bill.customer.wallet.amount<0 %>
		<tr>
			<td><%= bill.customer.batch_number %></td>
			<td><%= bill.customer.full_name %></td>
			<td><%= bill.created_at.strftime("%d-%m-%Y") %></td>
			<td><%= bill.customer.house %>, <%= bill.customer.block %>, <%= bill.customer.zone.name %></td>
			<td><%= bill.customer.wallet.amount %></td>
		</tr>
	<% end %>
<% end %>
