<% @report.each do |icare| %>
	<tr>
		<td><%= icare.customer.batch_number %></td>
		<td><%= icare.created_at.strftime("%d-%m-%Y") %></td>
		<td><%= icare.icare_type.name %></td>
		<td><%= icare.hour || 00 %> : <%= icare.minute || 00 %></td>
		<td>
			<%= icare.extension_hour || 00 %> : <%= icare.extension_minute || 00 %>
		</td>
		<td><%= icare.operators.map{|p| p.employee.full_name}.join(",") %></td>
		<td>
			<% if icare.status == 1 %>
				<span class="label label-primary">Panding</span>
			<% elsif icare.status == 2 %>
				<span class="label label-default">On process</span>
			<% elsif icare.status == 3 %>
				<span class="label label-info">Decision Panding</span>
			<% elsif icare.status == 4 %>
				<span class="label label-danger">Time Extension</span>
			<% end %>
		</td>
	</tr>
<% end %>