<% @icare_types.each do |type| %>
	<tr>
		<td><%= type.name %></td>
		<% if @start.present? && @end.present? %>
			<% @dTotal = type.icares.where(created_at: @start..@end).count %>
			<% @dCompleted = type.icares.where(created_at: @start..@end).where(status: 10).count %>
			<td><%= @dTotal %></td>
			<td><%= (@dCompleted.to_i*100)/@dTotal if @dTotal>0 %> <%= "%"  if @dTotal>0 %></td>
			<td><%= (100-(@dCompleted.to_i*100)/@dTotal) if @dTotal>0 %> <%= "%"  if @dTotal>0 %></td>
		<% else %>
			<% @total = type.icares.count %>
			<% @complted = type.icares.where(status: 10).count %>
			<td><%= @total %></td>
			<td><%= (@complted.to_i*100)/@total if @total>0 %> <%= "%" if @total>0 %></td>
			<td><%= (100-(@complted.to_i*100)/@total) if @total>0 %> <%= "%" if @total>0 %></td>
		<% end %>
	</tr>
<% end %>