<!-- header -->
<div class="header">
    <%= render 'shared/notification' %>
    <h1 class="page-title">Pending Bills Before Current Month</h1>
    <ul class="breadcrumb">
        <li><%= link_to("Dashboard", dashboard_path) %></li>
        <li class="active">Pending Bills</li>
    </ul>
</div>  	
<!-- header -->

<div class="col-md-9">
	<table class="table">
		<thead>
			<tr>
				<th>Customer Id</th>
				<th>Name</th>
				<th>Date</th>
				<th>Address</th>
				<th>Total Amount</th>
			</tr>
		</thead>
		<tbody id="pending_bill_list">
			<%= render 'pending_bill' %>
		</tbody>
	</table>
	<%= will_paginate %>
</div>

<div class="panel panel-default col-md-3">
	<header class="panel-heading">
		<div class="panel-title">
			Advance Search
		</div>
	</header>
	
	<%= form_tag report_pending_bill_path, :method => 'get', id: "pending_bill" do %>
		

		<div class="form-group">
			<label>Zone</label>	<br>
			<%= select_tag :zone, options_for_select(current_organization.zones.order(:name).collect{ |u| [u.name, u.id] }), {:class=>'form-control', include_blank: true} %>
		</div>
		<div class="form-group">
			<%= button_tag(class: "btn btn-primary", id: "pending_service_btn") do %>
						Search
					<% end %>
		</div>
	<% end %>
</div>