<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>
	    <h1 class="page-title">ICare</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Dashboard", dashboard_path) %></li>
	        <li class="active">Pending Services Before 2 Weaks</li>
	    </ul>
	</div>  	
<!-- header -->

<div class="col-md-12">

	<%= form_tag report_pending_service_path, :method => 'get', remote: true, :id => "pending_service" do %>
		<div class="form-group">
			<div class="input-group">
				<div class="col-sm-6">
					<label>Start Date</label>
					<%= date_select :start_date, params[:start_date], order: [:day, :month, :year] %>
				</div>
				<div class="col-sm-5">
					<label>To</label>
					<%= date_select :end_date, params[:end_date], order: [:day, :month, :year] %>
				</div>
				<div class="col-sm-1">
					<div class="input-group-btn">
						<%= button_tag(class: "monthly_customer", id: "pending_service_btn") do %>
							Search
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<table class="table">
		<thead>
			<tr>
				<th>Customer Id</th>
				<th>Date</th>
				<th>Service Type</th>
				<th>Time</th>
				<th>Time Extension</th>
				<th>Responsible Person</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody id="pending_service_list">
			<%= render 'pending_service' %>
		</tbody>
	</table>
	<%= will_paginate %>
</div>