<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>
	    <h1 class="page-title">ICare Type Catagory</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Dashboard", dashboard_path) %></li>
	        <li class="active">All ICare Catagory</li>
	    </ul>
	</div>  	
<!-- header -->

<div class="col-md-12">
	<%= form_tag report_service_catagory_path, :method => 'get', remote: true, :id => "service_catagory" do %>
		<div class="form-group">
			<div class="input-group">
				<div class="col-sm-6">
					<label>Start Date</label>
					<%= date_select :start_date, params[:start_date], order: [:day, :month, :year] %>
				</div>
				<div class="col-sm-5">
					<label>To</label>
					<%= date_select :end_date, params[:end_date], order: [:day, :month, :year] %>
				</div>
				<div class="col-sm-1">
					<div class="input-group-btn">
						<%= button_tag(class: "monthly_customer", id: "service_catagory_btn") do %>
							Search
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Total Service</th>
				<th>Completed Rate</th>
				<th>Pending Rate</th>
			</tr>
		</thead>
		<tbody id="service_catagory_list">
			<%= render 'service_catagory' %>
		</tbody>
	</table>
</div>