$("ul.errors").html("")
<% if @zone.errors.any? %>
  <% @zone.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".zone-index").html("<%= escape_javascript(render 'zone') %>")
  $("#zone_name").val('')
  $("#zone_new").show() 
  $("#zone_update").hide()
  $(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
  $(".notice").show()
<% end %>