<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>
	    <h1 class="page-title">ICare</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Dashboard", dashboard_path) %></li>
	        <li class="active">Dashboard</li>
	    </ul>
	</div>  	
<!-- header -->
<div class="col-sm-7">

	<div id="zone_update"></div>
	
	<div id="zone_new">
		<h3>Add New</h3>
		<%= render "form" %>	
	</div>
	
	<h3>Zone List</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody class="zone-index">
			<%= render "zone" %>
		</tbody>
	</table>
	<%= will_paginate %>	
	
</div>

<div class="col-sm-5">
	<div id="area_index"></div>
</div>

<div class="modal fade" id="zone_delete"></div>