<% @roles.each do |role| %>
	<tr>
		<td><%= role.name %></td>
		<td>
			<div class="left">
				<%= form_for role, authenticity_token: true do |f| -%>
					<%= f.check_box :office_admin, :onclick => "this.form.submit();" %> Office Admin  
					<%= f.check_box :employee, :onclick => "this.form.submit();" %> Employee 
					<%= f.check_box :accountant, :onclick => "this.form.submit();" %> Accountant 
					<%= f.check_box :service_monitor, :onclick => "this.form.submit();" %> Service Monitor 
					<%= f.check_box :customer, :onclick => "this.form.submit();" %> Customer 
					<%= f.check_box :bill, :onclick => "this.form.submit();" %> Bill 
					<%= f.check_box :operator, :onclick => "this.form.submit();" %> Operator
				<% end %>
			</div>

		</td>
		<td><%= link_to("Edit", edit_role_path(role), remote: true, class: "btn") %></td>
	</tr>
<% end %>