$("ul.errors").html("")
<% if @role.errors.any? %>
  <% @role.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".role-index").html("<%= escape_javascript(render 'role') %>")
  $("#role_name").val('')
  $("#role_new").show() 
  $("#role_update").hide()

  $(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
  $(".notice").show()
<% end %>