<!-- header -->
	<div class="header">
	    <%= render 'shared/notification' %>
	    <h1 class="page-title">ICare</h1>
	    <ul class="breadcrumb">
	        <li><%= link_to("Dashboard", dashboard_path) %></li>
	        <li class="active">Role</li>
	    </ul>
	</div>  	
<!-- header -->
<div class="col-sm-10">

	<div id="role_update"></div>
	
	<div id="role_new">
		<h3>Add New</h3>
		<%= render "form" %>	
	</div>
	
	<h3>Role List</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Permission</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody class="role-index">
			<%= render "role" %>
		</tbody>
	</table>
	<%= will_paginate %>	
	
</div>

<div class="col-sm-5">
	<div id="area_index"></div>
</div>