<% @employees.each do |employee| %>
	
	<% if !employee.is_monthly_salary_exist(@my) %>
		<tr>
			<td>
				<%= check_box_tag "employee_ids[]", employee.id %>
			</td>
			<td><%= employee.full_name %></td>
			<td><%= employee.mobile %></td>
			<td><%= employee.email %></td>
			<td><%= employee.salary %></td>
		</tr>	
	<% end %>
<% end %>

