#current_customer_search{
	border-top-left-radius: 10em;
	border-bottom-left-radius: 10em
}

#current_customer_search_btn{
	border-top-right-radius: 10em;
	border-bottom-right-radius: 10em	
}

.h_space {
	height: 10px;
}

.left{
	float: left;
}

.right{
	float: right;
}