select.date-select{
	height: 30px;
	border-radius: 3px;
}

.monthly_customer{
	height: 23px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #414959;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.bg{
	width: 100%;
	background: url("bg.png") center top #E0E0DF;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.container .jumbotron  {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px; 
}
