<% @organizations.each do |organiztaion| %>
	<tr>
		<td><%= organiztaion.name %></td>
		<td><%= organiztaion.mobile %></td>
		<td><%= organiztaion.email %></td>
		<td>
			<%= organiztaion.house %>,
			<%= organiztaion.block %>,
			<%= organiztaion.area.name %>, 
			<%= organiztaion.district.name %>
		</td>
		<td><%= organiztaion.customers.count %></td>
		<td><%= organiztaion.employees.count %></td>
	</tr>
<% end %>