<%= render "shared/flash_message" %>
<div class="col-sm-7">
	<%= form_for @organization, class: "form-horizontal" do |f| %>

		<%= render 'shared/error_message', object: f.object %>

		<fieldset>
			<legend>Basic info</legend>
			<div class="form-group">
				<%= f.label :name, "Company Name" %><br/>
				<%= f.text_field :name, autofocus: true, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :mobile %><br/>
				<%= f.text_field :mobile, autofocus: true, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :email %><br/>
				<%= f.text_field :email, autofocus: true, class: "form-control" %>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Location</legend>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<%= f.label :district_id, "District" %><br/>
							<%= f.collection_select(:district_id, District.order(:name), :id, :name, {include_blank: true}, {:class=>'form-control'}) %>
						</div>	
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<%= f.label :area_id, "Area" %><br/>
							<%= f.grouped_collection_select :area_id, District.order(:name), :areas, :name, :id, :name, {include_blank: true}, {:class=>'form-control'} %>
						</div>	
					</div>
				</div>

				<div class="form-group">
					<%= f.label :specific_location %>
					<%= f.text_field :specific_location, autofocus: true, class: "form-control" %>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<%= f.label :house %><br/>
							<%= f.text_field :house, autofocus: true, class: "form-control" %>	
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<%= f.label :block %><br/>
							<%= f.text_field :block, autofocus: true, class: "form-control" %>	
						</div>
					</div>
				</div>
		</fieldset>

		<fieldset>
			<legend>About Organization</legend>
			<div class="form-group">
				<%= f.label :about, "About Company" %>
				<%= f.text_area :about, autofocus: true, class: "form-control" %>
			</div>
		</fieldset>
		

		<div class="pull-right">
			<%= f.submit "Save", disable_with: 'District Adding...', class: "btn btn-primary" %>
		</div>

	<% end %>

</div>