<div class="header">
    <div class="pull-right">
    	
    </div>

    <h1 class="page-title">Organizations</h1>
    <ul class="breadcrumb">
        <li><%= link_to("Home", dashboard_path) %></li>
        <li class="active">Organizations</li>
    </ul>
</div>
<%= render 'shared/flash_message' %>
<div class="col-sm-12">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Mobile</th>
				<th>Email</th>
				<th>Location</th>
				<th>Customers</th>
				<th>Employees</th>
			</tr>
		</thead>
		<tbody>
			<%= render 'organization' %>
		</tbody>
	</table>
</div>
