<div class="header">
	<%= render 'shared/notification' %>
	
	<h1 class="page-title">New Organization</h1>
    <ul class="breadcrumb">
        <li><%= link_to("Home", dashboard_path) %></li>
        <li class="active">New Organization</li>
    </ul>
</div>
<div class="col-md-7">
	<%= render "form" %>
</div>
<div class="row">&nbsp;</div>
