<%= form_for @icare_type, remote: true, html: {class: "form-horizontal", style: "display:inline"} do |f| %>
  
  <ul class="errors"></ul>
  <%= f.hidden_field :organization_id, value: current_organization.id %>

  <div class="form-group">
  	<%= f.text_field :name, class: "form-control", placeholder: "iCare Catagory Title" %>
  </div>

  <%= f.submit "Add", class: "btn btn-primary" %>
<% end -%>