<% @icare_types.each do |icare_type| %>
	<tr>
		<td><%= icare_type.name %></td>
		<td>
			<% if icare_type.active %>
				<span class="label label-success">active</span>
			<% else %>
				<span class="label label-danger">deactive</span>
			<% end %>
		</td>
		<td>
			<div class="left">
				<%= link_to edit_icare_type_path(icare_type), remote: true, class: "btn" do %>
					<i class="glyphicon glyphicon-edit"></i>
				<% end %>
			</div>

			<div class="left">
				<% if icare_type.active %>
					<%= form_for icare_type, remote: true do |f| %>
						<%= f.hidden_field :active, value: false %>  
						<%= button_tag(type: "submit") do %>
							<i class="glyphicon glyphicon-trash"></i>
						<% end %>
					<% end -%>		
				<% else %>
					<%= form_for icare_type, remote: true do |f| %>
						<%= f.hidden_field :active, value: true %>  
						<%= button_tag(type: "submit") do %>
							<i class="glyphicon glyphicon-ok"></i>
						<% end %>
					<% end -%>	
				<% end %>
							
			</div>

			
		</td>
	</tr>
<% end %>