$("ul.errors").html("")
<% if @icare_type.errors.any? %>
  <% @icare_type.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $("#icare_type_index").html("<%= escape_javascript(render 'icare_type') %>")
  $("#icare_type_name").val('')
  $("#icare_type_new").show() 
  $("#icare_type_update").hide()

  $(".notice").html("<%= escape_javascript(render 'shared/flash_message') %>")
  $(".notice").show()
<% end %>	
