<div class="col-sm-7">

	<div id="icare_type_update"></div>
	
	<div id="icare_type_new">
		<h3>Add New</h3>
		<%= render "form" %>	
	</div>
	
	<h3>iCare Types</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="icare_type_index">
			<%= render "icare_type" %>
		</tbody>
	</table>	
</div>

<div class="col-sm-5">
	<div id="area_index"></div>
</div>
