<div class="sidebar-nav">
    <ul>
        <li>
            <%= link_to dashboard_path, class: "nav-header" do %>
                <i class="fa fa-fw fa-dashboard"></i> Dashboard
            <% end %>
        </li>
        
        
        <% if current_user.is_super_admin %>
            <li><%= link_to("Area", districts_path, class: "nav-header") %></li> 
            <li><%= link_to "New Organization", new_organization_path, class: "nav-header" %></li>
            <li><%= link_to "Organization List", organizations_path, class: "nav-header" %></li>
        <% end %>

        <% if current_user.is_admin %>
            <li><%= link_to("Zones", zones_path, class: "nav-header") %></li>
            <li><%= link_to "Role", roles_path, class: "nav-header" %></li>
            <li><%= link_to "Employees", employees_path, class: "nav-header"  %></li>
            <li><%= link_to("Packages", packages_path, class: "nav-header") %></li>
            <li><%= link_to("Customer", customers_path, class: "nav-header") %></li>
            <li><%= link_to("Add Customer", new_customer_path, class: "nav-header") %></li>
            <li><%= link_to "Invoice", invoices_path, class: "nav-header" %></li>
            <li><%= link_to "Bills", bills_path, class: "nav-header" %></li>
            <li><%= link_to "Salary Invoice", salary_invoices_path, class: "nav-header" %></li>
            <li><%= link_to "Salary", salaries_path, class: "nav-header" %></li>
            <li><%= link_to "iCare Type", icare_types_path, class: "nav-header" %></li>
            <li><%= link_to "ICares", icares_path, class: "nav-header" %></li>
            <li><%= link_to "New Connection Request", organization_connections_path(current_organization), class: "nav-header" %></li>

            <li><a href="#report" data-target=".report" class="nav-header" data-toggle="collapse"> Reports<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="report nav nav-list collapse in">
                    
                    <li>
                        <%= link_to(report_pending_service_path) do %>
                            <span class="fa fa-caret-right"></span> Pending Service
                        <% end %>
                    </li>
                    <li>
                       <%= link_to(report_pending_bill_path) do %> 
                            <span class="fa fa-caret-right"></span> Pending Bill
                       <% end %>
                    </li>
                    <li>
                       <%= link_to(report_service_catagory_path) do %> 
                            <span class="fa fa-caret-right"></span> ICare Statistics
                       <% end %>
                    </li>
                </ul>
            </li>
        <% end %>  

        <% if current_user.is_employee %>
            <% if current_employee.role.office_admin %>
               <li><%= link_to("Zones", zones_path, class: "nav-header") %></li> 
               <li><%= link_to "Role", roles_path, class: "nav-header" %></li>
               <li><%= link_to("Packages", packages_path, class: "nav-header") %></li>
               <li><%= link_to "iCare Type", icare_types_path, class: "nav-header" %></li>
               <li><%= link_to "New Connection Request", organization_connections_path(current_organization), class: "nav-header" %></li>
            <% end %>                          

            <% if current_employee.role.employee %>
                <li><%= link_to "Employees", employees_path, class: "nav-header"  %></li>
            <% end %>

            <% if current_employee.role.accountant %>
                <li><%= link_to "Invoice", invoices_path, class: "nav-header" %></li>
                <li><%= link_to "Salary Invoice", salary_invoices_path, class: "nav-header" %></li>
                <li><%= link_to "Salary", salaries_path, class: "nav-header" %></li>
            <% end %>

            <% if current_employee.role.service_monitor %>
                <li><%= link_to "ICares", admin_index_icares_path, class: "nav-header" %></li>
            <% end %>

            <% if current_employee.role.customer %>
                <li><%= link_to("Customer", customers_path, class: "nav-header") %></li>
                <li><%= link_to("Add Customer", new_customer_path, class: "nav-header") %></li>
            <% end %>

            <% if current_employee.role.bill %>
                <li><%= link_to "Bills", bills_path, class: "nav-header" %></li>
            <% end %>

            <% if current_employee.role.operator %>
                <li><%= link_to "Services", operators_path, class: "nav-header" %></li>
            <% end %>
        <% end %>    

    </ul>

</div>