<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> Aircraft</span></a> -->
      </div>

    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
          <% if current_user.is_customer %>
            <% @customer = Customer.find(current_user.meta_id) %>
            <li><%= link_to "Profile", customer_path(@customer) %></li>
            <li><%= link_to "ICare", icares_path %></li>
            <!--  -->
          <% else %>
            <li><%= link_to "Dashboard", dashboard_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Login", signin_path %></li>
        <% end %>

        

        <% if signed_in? %>
          <li class="dropdown hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> 
                  
                  <% if signed_in? %>
                      <%= current_user.username %>
                  <% end %>
                  <i class="fa fa-caret-down"></i>
              </a>

            
              
              <ul class="dropdown-menu">
                <% if current_user.is_customer %>
                  <% @customer = Customer.find(current_user.meta_id) %>
                  <li><%= link_to "My Account", edit_customer_path(@customer) %></li>
                <% end %>

                <% if current_user.is_super_admin || current_user.is_admin %>
                  <li><%= link_to "Security", edit_user_path(current_user) %></li>
                <% end %>

                <% if current_user.is_employee %>
                  <% @employee = Employee.find(current_user.meta_id) %>
                  <li><%= link_to "My Account", edit_employee_path(@employee) %></li>
                <% end %>
                
                <% if current_user.is_admin %>
                  <li><%= link_to "Organization", edit_organization_path(current_user.organization) %></li>
                <% end %>
                
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            
          </li>
        <% end -%>
      </ul>

    </div>
</div>