<!DOCTYPE html>
<html>
<head>
  <title>Isp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">



<div class="container">
	<%= render "layouts/top_nav" %>
	<%= render 'shared/flash_message' %>
	<%= yield %>
</div>

</body>
</html>
