<!DOCTYPE html>
<html ng-app>
<head>
	<title>Login</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	<style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
            color: #fff;
        }
    </style>
</head>
<body>
    <%= render "layouts/top_nav" %>
    <%= yield %>

</body>
</html>