<!DOCTYPE html>
<html>
<head>
  <title>Isp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/top_nav" %>
<%= render "layouts/sidebar_nav" %>

<div class="content">
    <div class="main-content">
      <%= yield %>
    </div>
</div>

</body>
</html>
